{% assign announcement_count  = 0 | plus: 1 %}
<div class="cooking-pal-announcement-bar announcement-bar swiper-container" style="background:{{ section.settings.cooking-pal-announcement-color }};">
  <div class="cooking-pal-announcement-bar-wrapper swiper-wrapper">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'announcement' -%}
        <div class="cooking-pal-announcement-block swiper-slide">
            {% if block.settings.cooking-pal-announcement-img %}
              {{ block.settings.cooking-pal-announcement-img | image_url: width: 400 | image_tag: width: nil }}
            {% endif %}
            {{ block.settings.cooking-pal-announcement-text | escape }}
          </div>
          {% assign announcement_count = announcement_count | plus: 1 %}
    {%- endcase -%}
  {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Cooking Pal Announcement",
  "class": "cooking-pal-announcement",
  "settings": [
    {
      "label": "Color",
      "type": "color",
      "id": "cooking-pal-announcement-color",
      "default": "#E76B38"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "label": "Image",
          "type": "image_picker",
          "id": "cooking-pal-announcement-img"
        },
        {
          "label": "Text",
          "type": "text",
          "id": "cooking-pal-announcement-text"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}