<div class="section-cooking-pal-awards">
	<div class="swiper awards-swiper">
		<div class="awards-logo-container swiper-wrapper">
			{%- for block in section.blocks -%}
				<div class="swiper-slide">
					{% if block.settings.logo_url %}
						<img src="{{ block.settings.logo_url }}" height="100px;">
					{% endif %}
				</div>
			{%- endfor -%}
		</div>
	</div> 
</div>

{% schema %}
{
	"name": "Cooking Pal - Awards",
	"settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Awards Logo",
      "settings": [
        {
          "label": "Logo SVG URL",
					"type": "url",
          "id": "logo_url"
        }
      ]
    }
  ],
	"presets": [
		{
			"name" : "Cooking Pal - Awards"
		}
	]
}
{% endschema %}

{% stylesheet %}
.section-cooking-pal-awards {
	padding-top: 75px;
	padding-bottom: 75px;
	width: 100%;
}

.swiper-slide svg {
	height: 100px;
}

{% endstylesheet %}

{% javascript %} 
	var swiper = new Swiper(".awards-swiper", {
		autoplay: true,
		slidesPerView: 1,
		centeredSlides: true,
		spaceBetween: 20,
		loop: true,
		breakpoints: {
			640: {
				slidesPerView: 6,
				spaceBetween: 20,
			},
		},
	});
{% endjavascript %}