<div class="section7-container">
  <div class="section7-col-1">
    <h2 class="section-7-heading">{{ section.settings.heading-title }}</h2>
    <span class="book-description">{{ section.settings.body-content }}</span>
    <a href="#" class="form-submit">Book a class</a>
  </div>
  <div class="section7-col-2" style="background-image: url('{{section.settings.images | img_url: 'large'}}');">
    <img src="{{section.settings.images | img_url: 'large'}}" />
  </div>
</div>

{% schema %}
  {
    "name": "Book Class",
    "settings": [
      {
        "type" : "text",
        "label" : "Heading 2",
        "id" : "heading-title"
      },
      {
        "type" : "richtext",
        "label" : "Paragraph",
        "id" : "body-content"
      },
      {
        "type" : "image_picker",
        "label" : "image",
        "id" : "images"
      }
    ],
    "presets" : [
      {
        "name" : "Section 7"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}