<div class="product-section2-container">
  <div class="sec-col-1 isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
    <div class="slick-slider">
      {% for block in section.blocks  %}
        <div class="icon-box">
          <img src="{{ block.settings.select-option | asset_url }}" />
          <h3 class="iconbox-heading">{{ block.settings.iconbox-heading }}</h3>
          <span class="iconbox-description">{{ block.settings.iconbox-description }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Icon Box",
    "max_blocks": 10,
    "blocks" : [
      {
        "type" : "iconbox",
        "name" : "Icon Box",
        "settings" : [
          {
              "type": "select",
              "id": "select-option",
              "label": "Select Icon",
              "options": [
                {
                  "value": "icon-chop.svg",
                  "label": "icon-chop.svg"
                },
                {
                  "value": "icon-chop2",
                  "label": "icon-chop2"
                },
                {
                  "value": "icon-chop3",
                  "label": "icon-chop3"
                }
              ],
              "default": "icon-chop.svg"
          },
          {
            "type" : "text",
            "label" : "Heading 4",
            "id" : "iconbox-heading"
          },
          {
            "type" : "richtext",
            "label" : "Description",
            "id" : "iconbox-description"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Product Section 2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}