<div class="product-section5-container">
  <div class="prod-sec5-col-1">
    {% for block in section.blocks  %}
      <div class="inner-product">
        <div class="inner-col-1">
          <img src="{{block.settings.images | img_url: 'large'}}" class="popular-img"/>
        </div>
        <div class="inner-col-2">
          <h2 class="popular-heading">{{ block.settings.heading-title }}</h2>
          <span class="popular-description">{{ block.settings.box-description }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Most popular section",
    "max_blocks": 3,
    "blocks" : [
      {
        "type" : "image",
        "name" : "Image block",
        "settings" : [
          {
            "type" : "image_picker",
            "label" : "image",
            "id" : "images"
          },
          {
            "type" : "text",
            "label" : "Heading 3",
            "id" : "heading-title"
          },
          {
            "type" : "richtext",
            "label" : "Description",
            "id" : "box-description"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Most popular section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}