<h1>asd</h1>
<img src="{{block.settings.image}}" />

{% schema %}
  {
    "blocks" : [
      {
        "type" : "image",
        "name" : "Image block",
        "settings" : [
          {
            "type" : "image_picker",
            "label" : "images",
            "id" : "above-img"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Section 2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}