<h1>asd</h1>

<img src="{{block.settings.image}}" style="width: 100px; height: 100px;" />

{% schema %}
  {
    "name": "Image with content",
    "max_blocks": 3,
    "blocks" : [
      {
        "type" : "image",
        "name" : "Image block",
        "settings" : [
          {
            "type" : "image_picker",
            "label" : "image",
            "id" : "image"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Section 2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}