div.homepage-top-banner {
	width: 100%;
    height: auto;
    display: block;
	padding-bottom: 40%; /* The aspect ration of 1920x761 size based on wireframe is 2:5 or (2/5) * 100 = 40% */ 
	position: relative;
}

/* Standard aspect ratios to:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

div.homepage-top-banner > div.image-banner-media,
div.homepage-top-banner > div.banner-content {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	color: white;
	font-size: 24px;
}

div.homepage-top-banner > div.image-banner-media > div,
div.homepage-top-banner > div.banner-content > div {
    width: 100%;
    height: 100%;
    display: block;
}

div.homepage-top-banner > div img,
div.homepage-top-banner > div svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

div.homepage-top-banner .banner-details-content {
	float: left;
	margin-top: 120px;
}

div.homepage-top-banner .banner-details {
	position: relative;
}

div.homepage-top-banner .banner-details .company-logo {
	width: 310px;
	height: 121px;
	display: block;
	overflow: hidden;
}

div.homepage-top-banner .banner-details .company-logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

div.homepage-top-banner .banner-details p.heading,
div.homepage-top-banner .banner-details p.text {
	max-width: 700px;
	margin: 25px 0 0 0;
	display: block;
	text-align: left;
}

div.homepage-top-banner .banner-details p.heading {
	line-clamp: 3;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}

div.homepage-top-banner .banner-details p.text {
	line-clamp: 4;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
}

div.homepage-top-banner .banner-button {
	background-color:#E76B38;
	border-radius:30px;
	display: block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	margin-top: 53px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 18px;
	width: 271px;
	height: 50px;
	padding-top: 16px;
	text-align: center;
}

div.homepage-top-banner .banner-button:hover,
div.homepage-top-banner .banner-button:active {
	background-color:#c34f21;
}

/* SEMI Medium screen - hamburger menu has shown */
@media only screen and (min-width: 1100px) and (max-width: 1700px){
	div.homepage-top-banner .banner-details-content {
		margin-top: 10px;
	}

	div.homepage-top-banner .banner-details p.heading,
	div.homepage-top-banner .banner-details p.text {
		margin: 10px 0 0 0;
	}
	
	div.homepage-top-banner .banner-details p.heading {
		font-size: 35px;
	}
	
	div.homepage-top-banner .banner-details p.text {
		font-size: 17px;
	}
	
	div.homepage-top-banner .banner-button {
		margin-top: 10px;
	}
}

/* SEMI Medium screen - hamburger menu has shown */
@media only screen and (min-width: 990px) and (max-width: 1100px){
	div.homepage-top-banner .banner-details-content {
		margin-top: 10px;
	}

	div.homepage-top-banner .banner-details p.heading,
	div.homepage-top-banner .banner-details p.text {
		margin: 10px 0 0 0;
	}

	div.homepage-top-banner .banner-details p.heading {
		font-size: 24px;
	}
	
	div.homepage-top-banner .banner-details p.text {
		font-size: 14px;
	}

	div.homepage-top-banner .banner-button {
		margin-top: 10px;
	}
}

/* Medium screen - hamburger menu has shown */
@media only screen and (min-width: 420px) and (max-width: 990px){
	div.homepage-top-banner > div.image-banner-media,
	div.homepage-top-banner > div.banner-content {
		position: relative;
   		width: 100%;
    	height: 557px;
	}

	div.homepage-top-banner .banner-details p.heading,
	div.homepage-top-banner .banner-details p.text {
		margin: 20px 0 0 0;
	}

	div.homepage-top-banner .banner-details .company-logo {
		width: 190px;
		height: 74px;
	}

	div.homepage-top-banner .banner-button {
		margin-top: 22px;
	}
}

/* Medium screen - hamburger menu has shown */
@media only screen and (max-width: 419px){
	div.homepage-top-banner > div.image-banner-media,
	div.homepage-top-banner > div.banner-content {
		position: relative;
   		width: 100%;
    	height: 314px;
	}

	div.homepage-top-banner .banner-details p.heading,
	div.homepage-top-banner .banner-details p.text {
		margin: 20px 0 0 0;
	}

	div.homepage-top-banner .banner-details .company-logo {
		width: 190px;
		height: 74px;
	}

	div.homepage-top-banner .banner-details p.heading {
		font-size: 25px;
		line-height: 27px;
	}
	
	div.homepage-top-banner .banner-details p.text {
		font-size: 16px;
		line-height: 23px;
	}

	div.homepage-top-banner .banner-button {
		margin-top: 22px;
	}
}