.section7-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #383838;
}

.section7-col-1 {
    text-align: center;
}

h2.section-7-heading {
    width: 519px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'CeraPro-Bold';
    font-size: 45px;
    line-height: 1.24em;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.book-description p {
    margin: 0;
    font-size: 25px;
    font-family: 'CeraPro-Bold';
    line-height: 1.44em;
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
}

a.book-class {
    padding: 16px 77px;
    background-color: #E76B38;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'CeraPro-Medium';
    color: #FFF;
}

.section7-col-2 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section7-col-2 img {
    height: 595px;
    visibility: hidden;
}