.inner-product {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

.product-section5-container img.slick-next.slick-arrow {
    right: 35px;
    background-color: #304A36;
    border-radius: 50%;
    padding: 7px 7px 7px 8px;
    width: 45px;
    height: 45px;
    z-index: 10;
}

.product-section5-container img.slick-prev.slick-arrow {
    left: 35px;
    background-color: #304A36;
    border-radius: 50%;
    padding: 7px 8px 7px 7px;
    width: 45px;
    height: 45px;
    z-index: 10;
}

.inner-col-2 {
    max-width: 710px;
    margin: auto;
    padding: 50px 70px 50px 50px;
}

img.popular-img {
    width: 100%;
}

h2.popular-heading {
    margin: 0;
    font-family: 'Roboto Bold';
    font-size: 40px;
    color: #304A36;
    line-height: 1.15em;
    padding-bottom: 28px;
}

.popular-description p {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto Regular';
    line-height:  1.45em;
    color: #304A36;
}

@media (max-width: 1024px){
.inner-product {
    grid-template-columns: 1fr;
}

.inner-col-2 {
    max-width: 100%;
    padding: 30px 30px 80px;
}

h2.popular-heading {
    text-align: start;
    padding-bottom: 10px;
}

.popular-description p {
    text-align: start;
}
}