.product-section2-container {
    background-color: #323232;
    padding: 41px 50px 44px;
}

.sec-col-1 {
  width: 1625px;
  margin: auto;
}

.icon-box {
    margin: 0 20px;
    width: 100%;
}

.slick-track {
    display: flex;
    align-items: flex-end;
}

h3.iconbox-heading {
    margin: 0 0 13px;
    text-align: center;
    color: #fff;
    font-family: 'Cera Pro Bold';
    font-size: 20px;
    line-height: 1.4em;
}

span.iconbox-description P {
    color: #FFF;
    font-family: "Cera Pro Light";
    font-size: 14px;
    margin: 0;
    text-align: center;
    line-height: 1.42em;
}

.icon-box img {
    margin: auto;
    padding-bottom: 15px;
}

@media (max-width: 1725px){
.sec-col-1 {
  width: 100%;
}
}

@media (max-width: 767px){
h3.iconbox-heading {
    font-size: 16px;
}

.product-section2-container {
    padding: 20px 30px;
}
}

@media (max-width: 425px){
.icon-box {
    margin: 0 0px;
    padding: 0 10px 20px;
}
}