.product-section2-container {
    background-color: #323232;
    padding: 41px 50px 44px;
}

.sec-col-1 {
  width: 1625px;
  margin: auto;
}

.icon-box {
    margin: 0 20px;
    width: 100%-webkit-fill-available;
}

h3.iconbox-heading {
    margin: 0 0 13px;
    text-align: center;
    color: #fff;
    font-family: 'Cera Pro Bold';
    font-size: 20px;
    line-height: 1.4em;
}

span.iconbox-description P {
    color: #FFF;
    font-family: "Cera Pro Light";
    font-size: 14px;
    margin: 0;
    text-align: center;
    line-height: 1.42em;
}

.icon-box img {
    margin: auto;
    padding-bottom: 15px;
}