@font-face {
    font-family: "CeraPro-Light";
    src: url("CeraPro-Light.woff2") format("woff2"),
    url("CeraPro-Light.woff") format("woff");
}

@font-face {
font-family: "CeraPro-Regular";
src: url("CeraPro-Regular.woff2") format("woff2"),
url("CeraPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "CeraPro-Medium";
    src: url("CeraPro-Medium.woff2") format("woff2"),
    url("CeraPro-Medium.woff") format("woff");
}

@font-face {
    font-family: "CeraPro-Bold";
    src: url("CeraPro-Bold.woff2") format("woff2"),
    url("CeraPro-Bold.woff") format("woff");
}

@font-face {
    font-family: "CeraPro-Black";
    src: url("CeraPro-Black.woff2") format("woff2"),
    url("CeraPro-Black.woff") format("woff");
}

h1 {
    font-family: 'CeraPro-Bold';
    font-size: 30px;
    line-height: 1.26em;
    color: #383838;
}

h2 {
    font-family: 'CeraPro-Bold';
    font-size: 24px;
    line-height: 1.25em;
    color: #383838;
}

h3 {
    font-family: 'CeraPro-Bold';
    font-size: 20px;
    line-height: 1.3em;
    color: #383838;
}

p {
    font-family: 'CeraPro-Regular';
    font-size: 14px;
    line-height: 1.214em;
    color: #383838;
}

/*************************************** header *************************************/
sticky-header.header-wrapper {
    background-color: #383838;
    padding: 0 5%;
}

header.header {
    max-width: 1260px;
    padding: 6px 0;
    display: grid;
    grid-template-columns: 20% 75% 5%;
    column-gap: 0;
}

.header .header__icons .header__search {
    display: none !important;
}

a.header__menu-item {
    padding: 0 20px;
}

a.header__menu-item span {
    color: #fff;
    text-decoration: none;
    font-family: 'CeraPro-Medium';
    font-size: 13px;
}

nav.header__inline-menu {
    text-align: end;
}

.shopify-section .announcement-bar {
    background-color: #6A6A6C;
}

.list-menu li {
    display: flex;
}

.list-menu svg path {
    fill: #56C98B;
}

.header__menu-item svg {
    width: 15px;
    height: 15px;
    position: relative;
    right: 5px;
    top: 2px;
}

.header__menu-item span {
    font-family: 'CeraPro-Medium';
}

.header__menu-item:hover span {
    border-bottom: solid 2px #56C98B;
    padding-bottom: 2px;;
}

.header__menu-item span {
    border-bottom: solid 2px transparent;
    padding-bottom: 2px;;
}

#MegaMenu-Content-1 {
    transition: all 0.5s !important;
}

.header__menu-item svg.icon.icon-caret {
    transition: all 0.5s;
}

.mega-menu__list .list-unstyled li {
    text-align: start;
}

.mega-menu__list .list-unstyled li:nth-child(1) a.mega-menu__link.link {
    line-height: 0.9em;
    font-size: 13px;
    font-family: 'CeraPro-Bold';
}

.mega-menu__list .list-unstyled li a.mega-menu__link.link {
    line-height: 0.9em;
    font-size: 13px;
    font-family: 'CeraPro-Regular';
}

#MegaMenu-Content-1 {
    padding: 14px 50px 40px;
}

ul.mega-menu__list {
    padding: 0;
}
/********************************* end header **************************************/
/*************************************** side cart *******************************/
.item-price-qty div:nth-child(2) {
    color: #343434;
    font-family: 'CeraPro-Bold';
    text-align: end;
}

.item-details a:nth-child(3) {
    color: #343434;
    font-family: 'CeraPro-Bold';
}

a.add {
    font-size: 20px;
    font-weight: 500 !important;
    padding: 7px 8px !important;
    height: 30px;
    line-height: 0.8;
}

a.minus {
    font-size: 20px;
    font-weight: 500 !important;
    padding: 7px 8px !important;
    height: 30px;
    line-height: 0.8;
}

form.my-cart {
    padding: 0 30px 0 25px !important;
}

.my-cart__items {
    padding: 20px 0 0 !important;
}

.item-qty-counter input {
    width: 35px !important;
    padding: 0;
    text-align: end;
    z-index: 999;
    height: 30px;
}

.item-price-qty {
    place-items: unset;
    justify-items: start;
}

/************************************************* footer style **********************************/
footer.footer {
    background-color: #383838;
    padding: 0 7%;
}

.footer .footer__content-top {
    padding: 0;
    max-width: 100%;
}

.footer .footer__blocks-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 21%;
    padding: 35px 0 50px;
}

.footer .footer-block.footer-block--menu {
    width: 100%;
}

.footer h2.footer-block__heading {
    margin-bottom: 15px;
    color: #fff;
    font-family: 'CeraPro-Medium';
    font-size: 18px;
}

.footer a.link.link--text {
    line-height: 1.1em;
    color: #d7d7d7;
    font-family: CeraPro-Regular;
    font-size: 18px;
    padding: 0 0 8px;
}

.footer .footer-block__details-content li {
    line-height: 1em;
}

.footer .footer-block.grid__item {
    width: 100%;
}

.footer  .footer-block.grid__item p {
    color: #FFFFFF;
    font-family: 'CeraPro-Regular';
    font-size: 18px;
    line-height: 1.1em;
}

.footer .footer-block--newsletter {
    margin: 0;
    align-items: baseline;
    order: 5;
}

.footer a.list-social__link {
    padding: 0;
    margin-right: 19px;
    margin-bottom: 19px;
}

.footer ul.footer__list-social {
    justify-content: flex-start !important;
}

.footer .footer-block:nth-child(5) {
    order: 6;
}

.footer__content-bottom {
    display: none;
}

@media (max-width: 1366px){
header.header {
    max-width: 100%;
}
  
.footer .footer__blocks-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem !important;
}
}

@media (max-width: 1024px){
.footer h2.footer-block__heading {
    font-size: 16px;
}

.footer a.link.link--text {
    font-size: 16px;
}

.footer  .footer-block.grid__item p {
    font-size: 16px;
}
}

@media (max-width: 767px){
.footer .footer__blocks-wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem !important;
}
}